<div id="<%= dom_id @user %>">
	<p>
		<h3>
		<%= @user.email %>
		<% if @user.admin? %>
			(admin)
		<% end %>
		</h3>
	</p>
	<p>
		Registered at: 
		<b>
		<%= @user.created_at %>
		</b>
	</p>
	<p>
		Registration Type:
		<b>
		<% if @user.provider? %>
			Login with Google
		<% else %>
			Normal Login
		<% end %>
		</b>
	</p>

</div>