<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration</title>
</head>
<body>


<div class="errors">
    <% if flash[:login_errors] %>
        <% flash[:login_errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
</div>

<br>
    Login:

    <form action="/sessions" method="POST">
    <%# capire come utilizzare il token, anche in users->_form %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="login[username]" placeholder="Your Username">
        <input type="password" name="login[password]" placeholder="Your Password">
        <input type="submit" name="submit">
    </form>

<%= link_to "Register", new_user_path %>


</body>
</html>