
<div class="my-form edit-recipe soft-shadow">
	<h1>Editing recipe</h1>
	<%= render "form", recipe: @recipe %>
</div>

<div class="align-ending-buttons">
	<%= link_to "Show this recipe", @recipe, class: "link-to-btn" %>
	<%= link_to 'Back', :back, class: "link-to-btn" %>
</div>
