<div class="my-form edit-recipe soft-shadow">
	<h1>Editing review</h1>
	<%= render "form", review: @review %>
</div>

<div class="align-ending-buttons">
	<%= link_to 'Back to previous page', :back, class: "link-to-btn" %>
</div>
